<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find any restaurants easily">
    <meta name="theme-color" content="#EA7B0C"  >
    <meta name="color-scheme" content="dark light">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <script src="https://kit.fontawesome.com/6db93449ac.js" crossorigin="anonymous"></script>
    <title>Restopedia</title>
</head>
<body>
    <skip-to-content></skip-to-content>
    <header>
        <app-bar></app-bar>
    </header>
    <main-content></main-content>
    <snack-bar></snack-bar>

    <footer class="footer">
        <span>&copy; 2021 - Restopedia</span>
    </footer>

</body>
</html>
