.appBar {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: var(--appbar-height);
    background-color: var(--appbar-background);
    box-shadow: 0 8px 8px 0 var(--shadow-color);
}

.title a {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.logo {
    margin-right: 10px;
}

.hamburger {
    display: block;
    border: none;
    background: none;
    color: inherit;
    padding: 5px;
    font-size: 28px;
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .appBar {
        justify-content: start;
        padding: 10px 40px;
    }

    .title {
        margin-right: auto;
    }
}
